<form action="/login" method="POST">
	<div>
	<label>Username:</label>
	<input name="username" type="text"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input name="password" type="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<form action="/signup" method="POST">
	<div>
	<label>Username:</label>
	<input name="username" type="text"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input name="password" type="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<a href='/main'> Continue as a guest </a>
