<form action="/main" method="POST">
	<div>
	<label>name</label>
	<input type="text" name="name"/><br/>
	</div>
	<div>
	<div>
	<label>Comment</label>
	<input type="text" name="comment"/><br/>
	</div>
	<div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

{{#each comments}}
<p>{{name}} -- {{comment}}</p>
{{/each}}